.orderCard {
  max-width: 310px;
  box-shadow: 6px 6px 10px darkslategrey;

  border: 1px solid darkslategrey;
}

.orderDetails {
  background-color: azure;
}

.orderCard button {
  padding: 0.2rem 1rem;
  border: 1px solid lightgray;
  border-radius: 15px;
  margin-right: 10px;

  background-color: yellow;
  font-weight: bold;

  box-shadow: 3px 4px 6px gray;
  transition: all 0.5s linear;
}

.orderCard button:hover {
  transform: scale(1.1);
}
